.head {
  .head__wrapper {
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 210px;
      font-family: "PixelUltima", sans-serif;
      font-weight: 400;
      color: var(--color-blue);
      line-height: 100%;
    }

    p {
      font-size: 40px;
      text-align: center;
      margin-bottom: 25px;
    }

    a {
      display: block;
      margin-top: 25px;
      padding: 20px 15px;
      background: var(--color-blue);
      color: var(--color-white);
      border: 2px solid var(--color-black);
      position: relative;

      transition: all 0.2s ease;

      img {
        transition: all 0.2s ease;
      }

      &:hover {
        background: var(--color-red);

        img {
          transform: rotate(45deg);
        }
      }

      &::before {
        content: "";
        position: absolute;
        left: calc(-1 * 2px);
        top: 20%;
        width: calc(100% + 4px);
        height: 100%;
        background: var(--color-black);
        z-index: -1;
      }
    }
  }
}
