.head {
  .head__wrapper {
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 205px;
      font-family: "PixelUltima", sans-serif;
      font-weight: 400;
      color: var(--color-blue);
      line-height: 100%;
      text-align: center;

      @media (max-width: 1440px) {
        font-size: 200px;
      }

      @media (max-width: 1390px) {
        font-size: 180px;
      }

      @media (max-width: 1280px) {
        font-size: 160px;
      }

      @media (max-width: 1120px) {
        font-size: 140px;
      }

      @media (max-width: 980px) {
        font-size: 120px;
      }

      @media (max-width: 860px) {
        font-size: 100px;
      }

      @media (max-width: 520px) {
        font-size: 80px;
      }

      @media (max-width: 400px) {
        font-size: 70px;
      }
    }

    p {
      font-size: 40px;
      text-align: center;
      margin-bottom: 25px;

      @media (max-width: 1390px) {
        font-size: 32px;
      }

      @media (max-width: 980px) {
        font-size: 28px;
      }

      @media (max-width: 860px) {
        font-size: 24px;
      }

      @media (max-width: 520px) {
        font-size: 20px;
      }

      @media (max-width: 400px) {
        font-size: 18px;
      }
    }

    a {
      margin-top: 25px;

      @media (max-width: 520px) {
        margin-top: 15px;
      }
    }

    @media (max-width: 768px) {
      height: 70vh;
    }
  }
}
