.cases {
  position: relative;
}

.cases::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-blue);
  z-index: -1;
  mix-blend-mode: multiply;
}

.cases__wrapper {
  padding-bottom: 120px;
}

.cases__title {
  padding-top: 120px;
  padding-bottom: 64px;

  display: inline-block;
  white-space: nowrap;
  overflow: hidden;

  h2 {
    color: var(--color-white);
    font-size: 160px;
    font-family: "PixelUltima", sans-serif;
    font-weight: 400;

    text-transform: uppercase;

    display: inline-block;
    margin: 0 50px;

    span {
      color: var(--color-black);
    }

    @media (max-width: 1024px) {
      font-size: 120px;
    }

    @media (max-width: 768px) {
      font-size: 80px;
      margin: 0 20px;
    }

    @media (max-width: 425px) {
      font-size: 70px;
    }
  }
}

.cases__items {
  display: flex;
  flex-wrap: wrap;
  gap: 130px;

  .cases__item {
    .cases__item__wrapper {
      border: 1px solid var(--color-white);
      padding: 5px;

      .cases__item__header {
        border: 1px solid var(--color-white);
        margin-bottom: 5px;

        padding: 4px 8px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        background-image: url("/images/cases/header-bg.svg");
        background-position: left;
        background-repeat: no-repeat;

        p {
          font-family: "PixelUltima", sans-serif;
          color: var(--color-blue);

          @media (max-width: 440px) {
            font-size: 12px;
          }
        }

        .cases__item__head__close {
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid var(--color-white);
        }

        @media (max-width: 720px) {
          background-position: -150px;
        }

        @media (max-width: 520px) {
          background-image: url("/images/cases/header-bg-2.svg");
          background-position: 0px;
        }

        @media (max-width: 440px) {
          background-position: -100px;
        }
      }
    }

    & > p {
      color: var(--color-white);
      font-weight: 400;
      margin-top: 15px;
    }

    &:nth-child(1) {
      margin-top: 80px;

      @media (max-width: 1420px) {
        margin-top: 0;
      }
    }

    &:nth-child(2) {
      .cases__item__header {
        background-position: -250px;
      }
    }

    &:nth-child(3) {
      .cases__item__header {
        background-position: -250px;
      }
    }

    &:nth-child(4) {
      margin-top: 80px;

      @media (max-width: 1420px) {
        margin-top: 0;
      }
    }
  }

  @media (max-width: 1420px) {
    flex-direction: column;
    gap: 50px;

    .cases__item__wrapper > img {
      width: 100%;
      height: 600px;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  @media (max-width: 960px) {
    .cases__item__wrapper > img {
      height: 500px;
    }
  }

  @media (max-width: 720px) {
    .cases__item__wrapper > img {
      height: 350px;
    }
  }

  @media (max-width: 520px) {
    gap: 30px;

    .cases__item__wrapper > img {
      height: 250px;
    }
  }

  @media (max-width: 440px) {
    .cases__item__wrapper > img {
      height: 200px;
    }
  }
}

.cases__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 65px;

  a {
    display: block;
    padding: 20px 15px;
    background: var(--color-blue);
    color: var(--color-white);
    border: 2px solid var(--color-white);
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    transition: all 0.2s ease;

    img {
      transition: all 0.2s ease;
    }

    @media (pointer: fine) {
      &:hover {
        border: 2px solid var(--color-red);

        &::before {
          background: var(--color-red);
        }

        img {
          transform: rotate(45deg);
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: calc(-1 * 2px);
      top: 20%;
      width: calc(100% + 4px);
      height: 100%;
      background: var(--color-white);
      z-index: -1;
    }

    @media (max-width: 720px) {
      padding: 15px;
    }
  }
}
