.link {
  display: block;
  padding: 20px 15px;
  background: var(--color-blue);
  color: var(--color-white);
  border: 2px solid var(--color-black);
  position: relative;

  transition: all 0.2s ease;

  img {
    transition: all 0.2s ease;
  }

  @media (pointer: fine) {
    &:hover {
      background: var(--color-red);

      img {
        transform: rotate(45deg);
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: calc(-1 * 2px);
    top: 20%;
    width: calc(100% + 4px);
    height: 100%;
    background: var(--color-black);
    z-index: -1;
  }

  @media (max-width: 520px) {
    padding: 14px 20px;
  }
}
