.footer {
  background: var(--color-black);
}

.footer__wrapper {
  padding-top: 120px;
  padding-bottom: 65px;

  @media (max-width: 768px) {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: end;

  .footer__top__left {
    color: var(--color-white);

    p {
      font-size: 16px;
    }

    h2 {
      font-size: 104px;
      font-weight: 400;
      margin-top: 25px;
      text-transform: uppercase;

      @media (max-width: 1220px) {
        font-size: 80px;
      }

      @media (max-width: 890px) {
        font-size: 64px;
      }

      @media (max-width: 620px) {
        font-size: 48px;
      }

      @media (max-width: 420px) {
        font-size: 68px;
      }
    }
  }

  & > a {
    svg {
      color: #ececec;
      transition: all 0.2s ease;

      &:hover {
        color: var(--color-red);
      }

      @media (max-width: 890px) {
        width: 120px;
        height: 120px;
      }
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    gap: 20px;
  }
}

.footer__copyright {
  color: var(--color-white);
  margin-top: 65px;

  border-top: 1px solid var(--color-white);
  padding-top: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .footer__copyright__link {
    display: flex;
    gap: 10px;
    padding: 20px 15px;
    background: var(--color-black);
    color: var(--color-white);
    border: 2px solid var(--color-white);
    position: relative;

    transition: all 0.2s ease;
    transform-style: preserve-3d;

    img {
      transition: all 0.2s ease;
    }

    &:hover {
      background: var(--color-red);

      img {
        transform: rotate(45deg);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: calc(-1 * 2px);
      top: 20%;
      width: calc(100% + 4px);
      height: 100%;
      background: var(--color-white);
      transform: translateZ(-1px);
    }

    @media (max-width: 1024px) {
      display: none;
    }

    @media (max-width: 680px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      padding: 15px;
      gap: 10px;
    }
  }

  @media (max-width: 680px) {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

.footer__lists {
  display: flex;
  gap: 25px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    li {
      a {
        &:hover {
          text-decoration: underline;
        }
      }

      @media (max-width: 780px) {
        font-size: 14px;
      }
    }

    @media (max-width: 680px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  @media (max-width: 1024px) {
    justify-content: space-between;
    width: 100%;
  }

  @media (max-width: 680px) {
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
  }
}
