@use "../../../styles/mixins" as *;

.capabilities {
  background: var(--color-black);
}

.capabilities__wrapper {
  overflow: hidden;
  white-space: nowrap;
  @include flex-center(column);
  padding-bottom: 125px;

  @include tablet {
    padding-bottom: 80px;
  }
}

.capabilities__title {
  padding-top: 120px;
  padding-bottom: 64px;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;

  h2 {
    color: var(--color-white);
    font-size: 160px;
    font-family: "PixelUltima", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 50px;

    span {
      color: var(--color-blue);
    }

    @include desktop-sm {
      font-size: 100px;
    }

    @media (max-width: 620px) {
      font-size: 80px;
      margin: 0 20px;
    }

    @media (max-width: 425px) {
      font-size: 70px;
    }
  }

  @include tablet {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

.capabilities__skills {
  padding: 5px;
  background: var(--color-white);
  width: 90%;
  border: 1px solid var(--color-blue);
  overflow: hidden;

  @include tablet {
    width: 100%;
  }
}

.capabilities__skills__header {
  background-image: url("/images/capabilities/capabilities_bg.svg");
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-blue);

  p {
    padding-left: 8px;
    color: var(--color-white);
    font-weight: 500;
    font-size: 14px;

    @media (max-width: 700px) {
      font-size: 12px;
    }
  }

  @include desktop-md {
    background-image: url("/images/capabilities/capabilities_bg_2.svg");
  }

  @media (max-width: 780px) {
    background-position: -50px;
  }

  @media (max-width: 700px) {
    background-position: -80px;
    background-image: url("/images/capabilities/capabilities_bg_3.svg");
  }

  @media (max-width: 670px) {
    background-position: 0px;
    background-image: url("/images/capabilities/capabilities_bg_4.svg");
  }
}

.capabilities__skills__header__nav {
  display: flex;
  align-items: center;
  margin-right: 2px;
  gap: 4px;
  z-index: 2;

  &__item {
    @include flex-center(column);
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-blue);
    background: var(--color-white);
    padding: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:first-child {
      justify-content: end;
    }
  }
}

.capabilities__skills__main {
  padding: 40px;
  border: 1px solid var(--color-blue);
  margin-top: 4px;
  @include flex-center(column);

  @include tablet {
    padding: 25px 20px;
  }

  .skillsSlider {
    width: 100%;
    overflow: visible !important;
    padding-bottom: 20px;

    :global(.swiper-wrapper) {
      align-items: center;
    }

    :global(.swiper-slide) {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      width: 100% !important;
      min-height: auto !important;
    }

    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
      @include swiper-button(40px);
    }

    :global(.swiper-button-prev) {
      left: -15px;

      @include mobile {
        left: 0;
      }
    }

    :global(.swiper-button-next) {
      right: -15px;

      @include mobile {
        right: 0;
      }
    }

    :global(.swiper-pagination) {
      bottom: -15px;
      position: relative;
    }

    :global(.swiper-pagination-bullet) {
      width: 10px;
      height: 10px;
      background: #ddd;
      opacity: 1;
      transition: all 0.3s ease;
      border-radius: 50%;
    }

    :global(.swiper-pagination-bullet-active) {
      background: var(--color-blue);
      transform: scale(1.3);
    }
  }

  .skillsSlide {
    p {
      height: 45px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .capabilities__skills__link {
    a {
      @include cta-button(var(--color-blue), var(--color-black));
      margin-top: 25px;
      transform-style: preserve-3d;

      img {
        margin-left: 8px;
        vertical-align: middle;
      }

      @media (max-width: 620px) {
        padding: 15px;
        margin-top: 30px;
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 64px 162px;

    @include desktop-sm {
      gap: 65px;
    }

    li {
      width: 280px;
      @include flex-center(column);

      p {
        margin-top: 25px;
        text-wrap: wrap;
        font-size: 18px;
        line-height: 1.4;
        text-align: center;
      }
    }
  }
}

.capabilities__navigation {
  display: flex;
  align-items: center;
  gap: 10px;

  button {
    width: 56px;
    height: 56px;
    @include flex-center;
    background: none;
    border: 1px solid var(--color-blue);
    transition: all 0.2s ease;

    svg {
      color: var(--color-blue);
      transition: all 0.2s ease;
    }

    &:first-child {
      svg {
        transform: rotate(180deg);
      }
    }

    @media (pointer: fine) {
      &:hover {
        border: 1px solid var(--color-red);

        svg {
          color: var(--color-red);
        }
      }
    }
  }
}
