@font-face {
  font-family: "PixelUltima";
  src: url("/fonts/pixel-ultima-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PixelUltima-bd";
  src: url("/fonts/pixel-ultima-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
