@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: 960px) {
    @content;
  }
}

@mixin desktop-md {
  @media (max-width: 1220px) {
    @content;
  }
}

@mixin cta-button($bg: var(--color-blue), $border: var(--color-black)) {
  display: block;
  padding: 20px 15px;
  background: $bg;
  color: var(--color-white);
  border: 2px solid $border;
  position: relative;
  transition: all 0.2s ease;

  &::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 20%;
    width: calc(100% + 4px);
    height: 100%;
    background: $border;
    transform: translateZ(-1px);
  }

  img {
    transition: all 0.2s ease;
  }

  @media (pointer: fine) {
    &:hover {
      background: var(--color-red);

      img {
        transform: rotate(45deg);
      }
    }
  }
}

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin swiper-button($size: 40px) {
  color: #000;
  background: rgba(255, 255, 255, 0.9);
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 1px solid var(--color-blue);
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  &:hover {
    background: var(--color-blue);
    color: var(--color-white);
  }

  &::after {
    font-size: 20px;
    font-weight: bold;
  }
}
