@use "./_reset";
@use "./vars";
@use "./fonts";

/* BASIC SETTINGS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "IBMPlexMono", sans-serif;
  font-weight: 400;
  font-display: swap;

  color: var(--color-black);

  background-image: url("/bg.svg");
  background-position: center;
  background-repeat: repeat;

  overflow-x: hidden !important;

  -webkit-tap-highlight-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 75px;
  min-height: 100vh;
}

.App {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.header__container {
  margin-bottom: 80px;
}

footer {
  margin-top: auto;
}

::-webkit-scrollbar {
  background: var(--color-gray);
  display: none;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-blue-light);
  display: none;
  width: 8px;
  border-radius: 5px;
}

.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

.list_container {
  max-width: 1010px;
  margin: 0 auto;
  position: relative;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: inherit;
  font-family: inherit;
  line-height: 140%;
}

h2 {
  line-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PixelUltima", sans-serif;
}

a {
  outline: none !important;
}

ul,
li {
  list-style-type: none;
}

button {
  font-family: "IBMPlexMono", sans-serif;
  font-weight: 600;
  touch-action: manipulation;
}
