.clients {
  canvas {
    transform: rotate(180deg);
  }
}

.clients__list {
  margin-top: 120px;
  margin-bottom: 120px;

  .clients__list__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px;

    border: 1px solid var(--color-blue);

    h2 {
      font-size: 64px;
      font-family: "PixelUltima", sans-serif;
      font-weight: 400;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid var(--color-blue);

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 450px;
      border: 1px solid var(--color-blue);
      border-top: none;

      padding-bottom: 25px;

      p {
        width: 100%;
        text-align: left;
        padding: 16px;
        color: var(--color-blue);
      }
    }
  }
}
